<div class="container">
  <h1>Add list</h1>
  <%= simple_form_for @list do |f| %>
    <%= f.input :name, placeholder:'Drama' %>
    <%= f.input :photo, as: :file %>
    <%= f.submit 'Submit', class: 'btn btn-danger mt-2' %>
  <% end %>
</div>
